<div class='row'>
  <div class='col-md-8 well'>
    <%= link_to 'Add Tidbit', new_tidbit_path, class: 'btn btn-k7r pull-right' if current_admin  %>
    <h1>Tidbits! <small class='text-capitalize'>Viewing <%= @category %> Tidbits.</small></h1>

    <p>Learn some stuff about things and junk!</p>
  </div>

  <div class='col-md-3 col-md-offset-1'>
    <%= render 'tidbits_menu', currently: @category, tidbit_totals: @tidbit_totals %>
  </div>

</div>

<section id='tidbits'>
  <%= render partial: 'tidbit', collection: @tidbits %>
</section>
