<div class="row">
  <div class="col-md-8">
    <h1>Tidbits! <small class="text-capitalize">Viewing <%= @category %> Tidbits.</small></h1>
    <p>Learn some stuff about things and junk!</p>
  </div>

  <div class="col-md-4">
    <%= render 'tidbits_menu', tidbits_counts: @tidbits_counts %>
  </div>
</div>

<section id="tidbits">
  <%= render partial: 'tidbit', collection: @tidbits %>
</section>
