<div class='row jumbotron' id='tidbits'>
  <div class='col-md-8'>
    <h1 class='inline-block'>Tidbits</h1>

    <p>Learn some stuff about things and junk!</p>
  </div>

  <div class='col-md-3 col-md-offset-1'>
    <%= render 'category_menu', currently: @category, tidbit_totals: @tidbit_totals %>
  </div>
</div>

<%= render partial: 'tidbit', collection: @tidbits %>
