<h1>Create a New Tidbit</h1>
<!-- <p>
  Tips for good tidbits:
  <ul>
    <li>Make sure they are fun</li>
    <li>Keep them short and sweet</li>
    <li>Try not to embarass yourself</li>
    <li>ALWAYS CITE SOMETHING, FOR GOD'S SAKE</li>
  </ul>
</p> -->

<%= render 'form', tidbit: @tidbit %>
