<div class='jumbotron' id='intro'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-8'>
        <h1>Hello, World!</h1>
        <p>Welcome to the personal website of Katie Russ, web developer and internet recluse. I am currently working as a web developer in Tallahassee, Florida; since I only recently relocated, I am seeking recommendations for good places to eat in town. To contact me about this or other things, my email is <%= my_email %>.</p>

        <p>For some fun programming or animal facts, check out the <%= link_to 'Tidbits', tidbits_path, class: 'a-k7r a-k7r-inverse' %> page, too.</p>
      </div>

      <div class='col-md-3 col-md-offset-1 intro-image'>
        <%= image_tag 'pigeon-icon.png', alt: "Pigeon head from 'Pigeon Messengers (Harper's Engraving)'", class: 'img-responsive visible-md-block visible-lg-block img-k7r' %>
      </div>
    </div>
  </div>
</div>
