<div class='jumbotron' id='jumbo-intro'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-7'>
        <h1>Hello, World!</h1>

        <!-- <p>I hear it's super duper important these days to have a personal website, especially for an otherwise private web developer who's still pretty much starting out (that's me).</p> -->
        <p>Since it is apparently super important these days to have a personal website, even for an otherwise private web developer (that's me), I have endeavored to put together one such for interested parties (that's you).</p>

        <p></p>
      </div>

      <div class='col-md-3 col-md-offset-1 intro-image'>
        <%= image_tag 'owl.png', alt: 'Megascops albogularis, or the White-throated screech owl', class: 'img-responsive visible-md-block visible-lg-block' %>
      </div>
    </div>
  </div>
</div>
