<div class='row'>
  <div class='col-sm-3 col-sm-offset-0 col-xs-4 col-xs-offset-4'>
    <% # image_tag 'shavatar.png', alt: 'Avatar of Katie Russ, created by Cory Collins', class: 'img-responsive img-k7r', id: 'bio-image' %>
    <%= image_tag 'me-in-glasses.png', alt: 'Part of my face', class: 'img-responsive img-k7r', id: 'bio-image' %>
  </div>

  <div class='col-sm-8 col-sm-offset-1 col-xs-12'>
    <h1>My Bio</h1>

    <p>I am a professional web developer with enthusiasm and expertise spanning both front-end and back-end development, with a focus on making things that are easy and pleasant to use - for both users and developers. My interests outside of programming include playing video games (favorites include the Dragon Age series and Fire Emblem: Awakening), making <a href='https://en.wikipedia.org/wiki/Pysanka' target='_blank' class='a-k7r'>pysanky</a>, making puns, and sharing weird animal facts.</p>
  </div>
</div>
