<div class='row'>
  <div class='col-sm-3 col-sm-offset-0 col-xs-4 col-xs-offset-4'>
    <%= image_tag 'me-in-glasses.png', alt: 'Part of my face', class: 'img-responsive img-k7r', id: 'bio-image' %>
  </div>

  <div class='col-sm-8 col-sm-offset-1 col-xs-12'>
    <h2 id='bio'>Me <small>(Who I am)</small></h2>

    <p>I am a professional web developer whose enthusiasm and expertise span both front-end and back-end development, with a focus on making things that are easy and pleasant to use - for both users and developers. My interests outside of programming include playing video games (favorites include the Dragon Age series and Fire Emblem: Awakening), making <a href='https://en.wikipedia.org/wiki/Pysanka' target='_blank'>pysanky</a>, making puns, and sharing weird animal facts.</p>

    <h2 id='work'>Work <small>(What I do)</small></h2>

    <p><!-- Insert Shadow Health Logo Here -->Prior to relocating, I worked for two<small>+</small> years as a Ruby on Rails developer at <a href='http://shadowhealth.com/' target='_blank'>Shadow Health</a>, a fast-growing startup that creates innovative software for nursing education programs.</p>

    <p>For more information, check out my <%= link_to 'Resume', asset_path('Resume.pdf'), target: '_blank' %> <small>(updated August 10, 2015)</small>.

    <h2 id='projects'>Projects <small>(What I'm making)</small></h2>
    <p>
      <dl>
        <dt>Flight of Fancy</dt>
          <dd>The pigeon sim game I started in PHP, completely rewritten with Ruby on Rails</dd>
        <dt>Punsubscribe</dt>
          <dd>A pun subscription app (this one's for you, A.J.!)</dd>
      </dl>
    </p>
  </div>
</div>
