<div class='row'>
  <div class='col-xs-12'>
    <h1>My Work</h2>

    <p><!-- Insert Shadow Health Logo Here -->Prior to relocating, I worked for two<small>+</small> years as a Ruby on Rails developer at <a href='http://shadowhealth.com/' target='_blank' class='a-k7r'>Shadow Health</a>, a fast-growing startup that creates innovative software for nursing education programs.</p>

    <h1>Current Projects</h1>
    <p>
      <dl>
        <dt>Flight of Fancy</dt>
          <dd>The pigeon sim game I started in PHP, completely rewritten with Ruby on Rails</dd>
        <dt>Punsubscribe</dt>
          <dd>A pun subscription app (this one's for you, A.J.!)</dd>
      </dl>
    </p>
  </div>
</div>
