/***********************
 * Color Scheme Themes *
 ***********************/
// Switch to use Sass maps when sass-rails supports Sass 3.3

// Copied to other files VERY temporarily because Sass is backsassing me

/* 0 - Default */
$active_nav_bg: #000;
$active_nav_color: #FFF;
$nav_border: #AD7;
$footer_bg: #F5F5F5;
// alert messages?

/* 1 - Reversi */
// $active_nav_bg: #FFF;
// $active_nav_color: #000;
// $nav_border: #9FC;
// $footer_bg: #5F5F5F;
