/***********************
 * Color Scheme Themes *
 ***********************/

/* 0 - Default */
$color-0-nav_bg: #000;
$color-0-nav_font: #FFF;
$color-0-nav_border: #AD7;
$color-0-footer_bg: #F5F5F5;
// alert messages

/* 1 - Reversi */
$color-1-nav_bg: #FFF;
$color-1-nav_font: #000;
$color-1-nav_border: #9FC;
$color-1-footer_bg: #5F5F5F;
// alert messages

// #color-0 { @include color-scheme('color-0'); }
// #color-1 { @include color-scheme('color-1'); }

// @mixin color-scheme($theme) {
#color-0 {
  nav.navbar {
    border-bottom: 5px solid $color-0-nav_border;

    .navbar-header {
      &.active {
        background-color: $color-0-nav_bg;
        color: $color-0-nav_font;

        a {
          color: $color-0-nav_font;
        }
      }
    }
  }

  footer {
    background-color: $color-0_footer_bg;
  }
}
