/***********************
 *  I Don't Even Know  *
 ***********************/

@import "variables";
@import "mixins";

/******* General *******/

body {
  @include sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  @include serif;
}

/******* K7R Brandishing *******/

// k7r logo-y text ~ katie[r].codes
.k7r {
  @include sans-serif;
  color: #FFF;

  .k7r-mark {
    @include special-sans;

    &:before { content: '['; }
    &:after  { content: ']'; }
    &:before, &:after { color: $k7r_grey_light; }

    color: $k7r_lime;
  }

  a {
    @include link-pseudos {
      color: #FFF;
    }
  }
}

// k7r buttons
.btn-k7r {
  @include bordered-dark-on-lime;

  &:hover {
    @include dark-on-dark-lime;
  }

  &.btn-k7r-wt {
    color: #FFF;
  }
}

// Bootstrap doesn't seem to want me to recolor this thing
a.list-group-item-k7r {
  &, &.active {
    @include link-pseudos {
      color: $k7r_grey_dark;
    }
  }

  &:hover, &:active {
    background-color: $k7r_lime_light;
  }

  &.active {
    @include bordered-dark-on-lime;

    &:hover, &:active {
      background-color: $k7r_lime_light;
      border-color: $k7r_lime;
    }

    span.badge {
      color: $k7r_grey;
    }
  }
}

/******* Layout *******/

html, body {
  height: 100%;
}

.alert button.close {
  float: left;
  margin-top: -0.15em;
  margin-right: 0.5em;
}

/* Nav */

nav.navbar {
  background-color: $k7r_grey;
  border-color: $k7r_grey_dark;
  margin-bottom: 0;

  li.active, .navbar-brand.active {
    &, &:hover {
      @include white-on-dark;
    }
  }
}

.navbar-brand {
  @include padding-lr;
  font-size: 1.75em;
}

/* Content */

#intro {
  @include white-on-dark;
  // background-color: $k7r_grey_dark;
  // color: #FFF;
  min-height: 35%;
  height: auto;
  margin-bottom: 0;

  .intro-image img {
    height: auto;
    max-width: 100%;
  }
}

body > .container {
  // (un)Sticky footer fix
  min-height: $main_min;
  height: auto;
  margin: 0 auto (-$footer_height);
  padding: 0 0 $footer_height;
  &#home {
    min-height: $intro_main_min;
  }
}

#main-content {
  padding: $top_bottom $left_right;
}

#tidbits.jumbotron {
  @include padding-lr($top_bottom);

  h1 {
    font-size: 36px;
    margin-top: 0;
  }
}

/* Footer */

footer {
  background-color: $k7r_grey_dark;
  height: $footer_height;
  position: relative;

  & > .container {
    max-height: 100%;
    padding-left: $left_right;

    a {
      color: $k7r_grey_light;

      &:hover {
        color: $k7r_grey_lighter;
        text-decoration: none;
      }
    }
  }

  span.navbar-text {
    @include margin-tb(0);
    max-height: 100%;
    padding-top: $left_right;
  }

  dl.dl-horizontal {
    margin-bottom: 0;
    margin-left: (-$left_right);

    dt {
      display: inline-block;
      float: none;
      margin-left: $left_right;
      vertical-align: baseline;
      width: auto;

      &:first-child {
        margin-left: 0;
      }
    }

    dd {
      display: inline-block;
      float: none;
      margin-left: 0;
      vertical-align: top;

      & ul {
        padding: 0;
        margin: -2px 0 0;

        li {
          padding: 0;
        }
      }
    }
  }
}

.btn-xs.btn-icon {
  padding-top: 3px;
  padding-bottom: 4px;
}

.secret-tunnel {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-icon;

  position: absolute;
  bottom: 10px;
  right: 10px;

  @include link-pseudos {
    background-color: $k7r_grey_dark;
    border-color: $k7r_grey_dark;
    color: $k7r_grey_dark;
  }

  &:active {
    background-color: $k7r_grey_light;
  }
}

.strong {
  font-weight: bold;
}

.inline-block {
  display: inline-block;
}
