/***********************
 *  I Don't Even Know  *
 ***********************/

@import "variables";
@import "mixins";

//************************* General

// (un)Sticky footer fix
html, body {
  height: 100%;
}

body {
  @include sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  @include serif;
}

//************************* Layout: Nav

nav.navbar {
  @include bordered-grey;
  margin-bottom: 0;

  .navbar-brand, li {
    &.active, &.active:hover {
      @include white-on-dark;
    }
  }

  .navbar-brand {
    @include padding-lr;
    font-size: 1.75em;
  }
}

//************************* Layout: Body

.alert button.close {
  float: left;
  margin-top: -0.15em;
  margin-right: 0.5em;
}

#intro {
  @include white-on-dark;
  margin-bottom: 0;
  min-height: 35%;
}


// (un)Sticky footer fix
body > .container {
  min-height: $main_min;
  height: auto;
  margin: 0 auto (-$footer_height);
  padding: 0 0 $footer_height;
  &#home {
    min-height: $intro_main_min;
  }
}

#main-content {
  padding: $top_bottom $left_right;
}

#bio-image {
  @media (min-width: ($screen-xs-max + 1px)) { margin-top: $top_bottom; }
}

dd {
  margin-bottom: 0.5em;
}

//************************* Layout: Tidbits

#tidbits.jumbotron {
  @include padding-lr($top_bottom);

  h1 {
    font-size: 36px;
    margin-top: 0;
  }


  a.list-group-item { // Bootstrap doesn't seem to want me to recolor this thing
    @include link-pseudos {
      color: $k7r_grey_dark;
    }

    &:hover, &:active {
      background-color: $k7r_lime_light;
    }

    &.active {
      @include dark-on-bordered-lime;
      @include link-pseudos {
        color: $k7r_grey_dark;
      }

      &:hover, &:active {
        @include bordered-light-lime;
      }

      span.badge {
        color: $k7r_grey;
      }
    }
  }
}

.tidbit {
  .panel {
    &, .panel-heading, .panel-footer {
      border-color: $k7r_lime;
    }

    .panel-heading {
      background-color: $k7r_lime_light;
    }

    .panel-footer {
      background: transparent;
    }

    .panel-title {
      @include sans-serif;
      font-weight: bold;

      a {
        font-weight: normal;
      }
    }

    .panel-footer span {
      @extend small;
      font-weight: bold;
    }

    .panel-footer p:first-of-type {
      margin-top: 5px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

//************************* Layout: Footer

footer {
  @media (max-width: $screen-xs-max) { padding-top: 0.5em; }

  background-color: $k7r_grey_dark;
  min-height: $footer_height;
  position: relative;

  & > .container {
    max-height: 100%;

    a {
      color: $k7r_grey_light;

      &:hover {
        color: $k7r_grey_lighter;
        text-decoration: none;
      }
    }


    span.navbar-text {
      margin: $left-right $left_right 0 0;
      max-height: 100%;

      &.navbar-right {
        @media (max-width: $screen-xs-max) { margin-top: 1em; }
      }
    }

    ul {
      display: inline-block;
      margin: -2px 0 0;
      padding: 0;

      li {
        padding: 0 0 0 5px;
      }
    }
  }

}

//************************* Miscellaneous

.btn-xs.btn-icon {
  padding-top: 3px;
  padding-bottom: 4px;
}

.strong {
  font-weight: bold;
}

.inline-block {
  display: inline-block;
}

//************************* Meeeeeee

// ~ katie[r].codes
.k7r {
  @include sans-serif;
  color: #FFF;

  .k7r-mark {
    @include special-sans;

    &:before { content: '['; }
    &:after  { content: ']'; }
    &:before, &:after { color: $k7r_grey_light; }

    color: $k7r_lime;
  }

  a {
    @include link-pseudos {
      color: #FFF;
    }
  }
}

.img-k7r {
  height: auto;
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid $k7r_lime;
}

// k7r buttons
.btn-k7r {
  @include bordered-lime;
  @include link-pseudos {
    color: $k7r_grey_dark;
  }

  &:hover {
    background-color: $k7r_lime_dark;
    @include link-pseudos {
      color: $k7r_grey_dark;
    }
  }

  &.btn-k7r-wt {
    color: #FFF;
  }
}

.a-k7r {
  @include link-pseudos {
    color: $k7r_lime_darker;
    // font-weight: bold;
    text-decoration: underline;
  }
  &.a-k7r-inverse {
    @include link-pseudos {
      color: $k7r_lime;
    }
  }
}

.secret-tunnel {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-icon;

  position: absolute;
  bottom: 10px;
  right: 10px;

  @include link-pseudos {
    background-color: $k7r_grey_dark;
    border-color: $k7r_grey_dark;
    color: $k7r_grey_dark;
  }

  &:active {
    background-color: $k7r_grey_light;
  }
}
