/***********************
 * Bootstrap Overrides *
 ***********************/
 body { font-family: 'Latin_Modern_Sans'; }
 h1,h2,h3,h4{ font-family: 'Dustismo_Roman'; }

/* Variables */
// TODO: Move variables out to share

$navbar_border: 10px;
$navbar_height: 50px;
$footer_height: 50px;

/* Navbar Overlap Fix */

// body {
//   padding-top: ($navbar_border + $navbar_height + 10px);
// }


/* Navbar Active Link Shifting */
.navbar-brand {
  padding-left: 15px;
  padding-right: 15px;

  &.active {
    background-color: #000;
    color: #FFF;
  }
}

/* (un)Sticky Footer Fix */

html,
body {
  height: 100%;
}

#content {
  min-height: 100%;
  height: auto;
  margin: 0 auto (-$footer_height);
  padding: 0 0 60px;
}

footer {
  height: $footer_height;
}

// TODO: Put this stuff somewhere else
// ...
#jumbo-intro {
  margin-top: -20px;
  min-height: 25%;
  background-color: #222;
  color: #FFF;

  .intro-image {
    max-height: 100%;
    overflow: hidden;

    img {
      max-height: 50%;
      width: auto;
    }
  }

  // #landing-img img {
  //     max-height: 100%;
  //     max-width: 100%;
  // }
}

.navbar-brand {
  font-size: 1.75em;
}

span.outstanding {
  color: #8B5;
  font-family: 'Latin_Modern_Sans_Demi_Cond';
}
