/***********************
 * Bootstrap Overrides *
 ***********************/

/* Variables */

$navbar_height: 50px;
$footer_height: 50px;

/* Navbar Overlap Fix */

body {
  padding-top: ($navbar_height + 10px);
}

/* Navbar Header Active */

.navbar-header {
  // &.active { background-color, color; a { color } }

  a {
    padding-left: 30px;
    padding-right: 15px;
  }
}

/* (un)Sticky Footer Fix */

html,
body {
  height: 100%;
}

#container {
  min-height: 100%;
  height: auto;
  margin: 0 auto (-$footer_height);
  padding: 0 0 60px;
}

footer {
  // background-color
  height: $footer_height;
}
