/***********************
 * Bootstrap Overrides *
 ***********************/

// TEMPORARY

$active_nav_bg: #000;
$active_nav_color: #FFF;
$nav_border: #AD7;
$footer_bg: #F5F5F5;

/* Variables */

$navbar_border: 10px;
$navbar_height: 50px;
$footer_height: 50px;

/* Navbar Overlap Fix */

body {
  padding-top: ($navbar_border + $navbar_height + 10px);
}

/* Navbar Header Active, etc. */

nav.navbar {
  // border-top: 10px solid $nav_border;
  border-bottom: $navbar_border solid $nav_border;
}

.navbar-header {
  &.active {
    background-color: $active_nav_bg;
    color: $active_nav_color;

    a {
      color: $active_nav_color;
    }
  }

  a {
    padding-left: 30px;
    padding-right: 15px;
  }
}

/* (un)Sticky Footer Fix */

html,
body {
  height: 100%;
}

#container {
  min-height: 100%;
  height: auto;
  margin: 0 auto (-$footer_height);
  padding: 0 0 60px;
}

footer {
  background-color: $footer_bg;
  height: $footer_height;
}
