/***********************
 * Tidbit-Specific CSS *
 ***********************/

/* _tidbit */
.tidbit {
  .panel-heading h2 {
    font-weight: bold;
    padding-top: 0.5em;
  }

  .panel-footer {
    font-size: 0.75em;
  }
}
