<div class="row">
  <div class="col-md-8">
    <h1>OH HAI.</h1>

    <p class="lead">Sorry, I didn't see you there. Come in, come in!</p>

    <p>
      Welcome to my humble site. Come, sit! Warm yourself by the fire, and please help yourself to some
      Lorem Ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus
      a velit blandit tempor. Morbi faucibus enim non turpis consequat eleifend. Quisque nec neque sed
      purus feugiat ultrices eget id turpis. Aliquam vestibulum ut dolor vel laoreet. Aliquam faucibus,
      nibh ac lacinia tincidunt, massa lectus tincidunt ipsum, at egestas ante dui et justo. Nulla in
      eleifend urna. Nunc vehicula suscipit nisl, sed feugiat magna faucibus sit amet. Nam non convallis
      velit. Nam risus est, bibendum nec erat eleifend, ornare ultricies nunc. Aliquam lobortis odio id
      nisi vulputate, sed dapibus leo pellentesque. Nulla facilisi.
    </p>
  </div>

  <div class="col-md-4">
    <%= image_tag 'owl.png', alt: 'Megascops albogularis, or the White-throated screech owl', class: 'img-responsive center-block' %>
  </div>
</div>
